body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url("./castle.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height:100vh;
}

.div3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 25px;
}
h1{
    color:black;
    padding:20px;
    font-family: "press Start 2P","consolas",sans-serif;
    font-size: 40px;
    background: linear-gradient(to right,skyblue,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    font-family: "consolas",sans-serif;
    font-size: larger;
    padding:20px;
    background: linear-gradient(to left,skyblue,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
